<div class="sign_in">
<h3 class="mt-5">S'inscrire</h3>
<% if @users.errors.any? %>
<div class="alert alert-danger text-center" role="alert">
  <p>Nous n'avons pas réussi à créer votre compte pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @users.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<%= form_tag url_for(action: 'create'), method: "post" do %>

  <div class="form-group">
    <%= label_tag 'first_name', name = '', class: 'font-weight-bold'%>
    <%= text_field_tag 'first_name', nil, placeholder: 'prénom', class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= label_tag 'last_name', name = '' , class: 'font-weight-bold'%>
    <%= text_field_tag 'last_name', nil, placeholder: 'nom', class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= label_tag 'description', name = '' , class: 'font-weight-bold'%>
    <%= text_area_tag 'description', nil, placeholder: 'description', class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= label_tag 'email', name = '' , class: 'font-weight-bold'%>
    <%= text_field_tag 'email', nil, placeholder: 'email', class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= label_tag 'age', name = '' , class: 'font-weight-bold'%>
    <%= text_field_tag 'age', nil, placeholder: 'age', class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= label_tag 'password', name = '' , class: 'font-weight-bold'%>
    <%= text_field_tag 'password', nil, placeholder: 'password', class: 'form-control'%>
  </div>


  <div class="form-group">
    <%= label_tag 'Ville :' %>
    <%= select_tag 'city', options_from_collection_for_select(City.all, "id", "name", @users.city)%>
</div>


  <br>

  <%= submit_tag "s'inscrire", class: 'btn btn-primary' %>

<% end %>

</div>
